# Ignore micromamba binary
bin/micromamba
micromamba_env
conda
# Ignore local apptainer
apptainer

# Ignore image files and temporary files
images
ref-images
tmp*
*.img
*.sqf
*.sif
*deb
*rpm

# modgen (generate lmod or environment modules files)
apps
apps-modules
ref
ref-modules

# Sphinx documentation defaults
docs/_build/
docs/build/

# Python cache (always good to include)
__pycache__/
*.pyc

# VS Code settings
.vscode/
