`# Python and packages for building the CondaTainer docs
# .readthedocs.yml selects the Python version; install this file with pip

sphinx>=7.2,<9
sphinx-book-theme>=1.1,<2
myst-parser>=2.0
sphinx-copybutton>=0.5.0
# Helpful for local development
sphinx-autobuild>=0.8.0
# Optional: for RTD features
readthedocs-sphinx-ext>=1.7.0
